/*--------------------------------- UTAMA -------------------------------*/

*, *:before, *:after {
	-webkit-box-sizing : border-box !important;
	-moz-box-sizing : border-box !important;
	-ms-box-sizing : border-box !important;
	box-sizing : border-box !important;
}
html, body {
	margin:0;
	padding: 0;
	height: 100%;
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Cairo";
	color: #333;
	font-size: 12pt;
}

i {
	margin-right: 7px;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}


/*--------------------------------- NAVIGASI -------------------------------*/

.menu {
	width: 100%;
	background-color: rgb(185, 99, 29);
	text-align: right;
	
}
.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.menu ul li {
	display: inline-block;
}
.menu ul li a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	text-align: center;
	padding: 15px 15px;
	color: #fff;
	text-transform: uppercase;
	font-size: 10.5pt;
	
}
.menu ul li a:hover {
	background-color: #002;
	border-radius: 10px
}
/*  Galeri   */
#galeri {
	padding-top: 27px;
	text-align: center;
}
#galeri img{
	
	border-radius: 30%;
	width: 330px;
	height: 330px;
	padding: 50px;	
}
#profil img{
	border: 8px solid rgba(199, 199, 199, 0.849) ;
	border-radius: 100%;
	width: 330px;
	height: 330px;	
}



/*///////////////////Education//////////////////////*/
table {
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(10, 8, 8);
	text-shadow: 1px 1px 0px #fff;
	background: #eaebec00;
	border: 0;
	margin: auto;
	margin-top: 200px;

  }
  
  table th {
	padding: 15px 35px;
	border-left:1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	background: #ededed;
  }
  
  table th:first-child{  
	border-left:none;  
	background: #ededed;
  }
  
  table tr {
	text-align: center;
	padding-left: 20px;
  }
  
  table td:first-child {
	text-align: left;
	padding-left: 20px;
	border-left: 0;
  }
   
  table td {
	padding: 15px 35px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
  
  table tr:last-child td {
	border-bottom: 0;
  }
  
  table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
  }
  
  table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
  }
  
  table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }

  .tab {
	  display : none;
  }
.tab:target{
display: block;
}
.aboutweb{
	width :980px;
	margin: auto;
	margin-top :100px;
	border:1px solid #333;
	padding:15px;
	color: rgb(0, 0, 0)
}
.kiri, .kanan {
	max-width: calc(100% / 2);
	width: 100%;
	float: left;
	min-height: 94vh;
}
.kanan {
	padding-top:150px;
	text-align: center;
	background-color: #333;

}
.kiri {
	right: 0;
	
}